@media (max-width: 1024px) {
  #header__container {
    width: 100%;
    padding: 0 1rem;
  }

  .navbar__list {
    gap: 1rem;
  }

  .navbar__list li a {
    font-size: 16px;
  }

  .us__img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .us__img img {
    max-width: 100%;
  }

 


  #container__contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
  }

  .contact__title {
    width: 60%;
  }
}

@media (max-width: 800px) {
#page__body {
    gap: 6rem;
  }

  #container__products {
    width: 96%;
  }


  .card:hover {
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

 

  .navbar__list {
    display: none;
    position: absolute;
    top: 80px;
    width: 95%;
    left: 2.5%;
    border-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    padding: 1.5rem;
    background-color: gray;
    align-items: flex-start;
  }

  .navbar__list a {
    font-size: 1.2rem;
  }

  .navbar__list {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }



 

  .footer-container {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 650px) {
  .form__contact {
    width: 100%;
  }
  .form__contact input,
  .form__contact textarea {
    width: 90%;
  }

  .us__img img {
    width: 100%;
  }
}
